@charset "utf-8";
/*CSS document*/
.hidden
{
	display: none;
}

/*Fontface settings*/
@font-face {
    font-family: 'libre_franklin-medium';
    src: url('../fonts/librefranklin-medium-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-medium-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-semibold';
    src: url('../fonts/librefranklin-semibold-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-semibold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-italic';
    src: url('../fonts/librefranklin-italic-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-italic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-bold';
    src: url('../fonts/librefranklin-bold-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-regular';
    src: url('../fonts/librefranklin-regular-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-regular-webfont.woff') format('woff');
}


/*HOME PAGE Rules*/
/*Sets default font settings*/
img, video{
	max-width:100%;
	max-height:100%;
}

body
{
	margin: 0 auto;
	font-family: 'libre_franklin-regular', Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 20px;
	background-color: #EFEFEF;
}

/*Styles all of the H2s*/
h2
{
    padding: 15px;
	max-width: 100%;
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	color: #FFF;
	font-size: 20px;
}

/*Styles all of the H4s*/
h4
{
	max-width: 100%;
	height: 22px;
	background-color: #d8ae58;
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	color: #FFF;
	font-size: 16px;
	padding-top:3px;
	padding-left:10px;
	margin-bottom:10px;
}

/*Styles all of the links dark green and medium font weight*/
a
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	color: #5d6f34;
	text-decoration: none;
}

/* MOBILE STYLE RULES */
#mainContainer{
    margin: 0 auto;
    min-width:325px;
	max-width:100%;
	background-color: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


#mainHeader{
	position: fixed;
    background-color: #FFF;
    height: 115px;
    width: 100%;
    top: 0;
}

#logoCon {
    width: 65px;
}

#menuCon.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#menuCon {
    margin-top: 25px;
}

#menuCon img {
    width: 45px;
}

#menuCon {
    width: 25px;
    height: 25px;
    line-height: 35px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #d8ae58;
    transition: all 500ms ease;
}

#burgerCon {
    display: none;
    background-color: #fff;
}

#burgerCon.slideToggle {
    display: block;
    overflow: inherit;
}

#logoMenuCon {
    display: flex;
    justify-content: space-around;
    padding: 8px 0px;
}

#hamburgerNav {
    margin: 0 auto;
}

#hamburgerNav li a {
    display: block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: #d8ae58;
}

#hamburgerNav li {
    border-bottom: 1px solid #d8ae58;
}

#hamburgerNav li:first-child {
    border-top: 1px solid #d8ae58;
}

/* POSITIONS LOGO */

/* remove black colour replace with logo */
#headerLogo{
    margin-top:5px;
	margin-left:5px;
	width: 50px;
	height: 50px;
    background-color:black;
}

/* REMOVE and replace with video! */
#mainVideo{
    margin-top:110px;
    width:100%;
    height:210px;
    margin-bottom:15px;
    background-color:black;
}

#aboutUs{
    margin-bottom:15px;
    
}

/* REMOVE for staff photo and controls */
#staffPhoto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/mobile/moonbg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#theTeam {
    align-items: flex-end;
}
@media screen and (min-width: 445px) {
    #staffPhoto {
        height: 230px;
    }
}

@media screen and (min-width: 500px) {
    #staffPhoto {
        height: 300px;
        max-width: 800px;
        background-image: url('../images/tablet/moonbg-tablet.jpg');
    }
    #theTeam {
        height: 80%;
    }
    #name {
        font-size: 30px;
    }
    #role {
        font-size: 25px;
    }
    #bioRole {
        padding: 0px 50px;
    }
}

@media screen and (min-width: 800px) {
    #staffPhoto {
        height: 450px;
        max-width: 1000px;
        background-image: url('../images/desktop/moonbg-desktop.jpg');
        justify-content: flex-end;
    }
    .photos {
        width: 100%;
    }
    #photoBy {
        content: url('../images/tablet/brisk_tablet.png');
    }
    #photoPw {
        content: url('../images/tablet/phil_tablet.png');
    }
    #photoMp {
        content: url('../images/tablet/mike_tablet.png');
    }
    #photoSo {
        content: url('../images/tablet/scott_tablet.png')
    }
    #bio {
        padding: 0px 50px;
    }
}

#theTeam {
    display: flex;
}

#butHold {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 5px 0px;
    max-width: 1000px;
    margin: 0 auto;
}

.arrow {
    width: 40px;
    height: 40px;
    border: 3px solid #d8ae58;
    border-radius: 10px;
}

#back img {
    width: 50%;
    margin-top: 3px;
    margin-left: 8px;
}

#next img {
    width: 50%;
    margin-top: 3px;
    margin-left: 12px;
}


/* REMOVE for responsive Bios */
#bioRole {
    background-color: #000000;
    max-width: 940px;
    margin: 0 auto;
    padding: 0px 30px;
}

#role {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#bio {
    color: #fff;
    padding: 10px 15px;
    text-align: center;
}

/* styles main portfolio area */

/* REMOVE for Main Portfolio Piece */

#promoImg{
    height: 255px;
    background-color:black;
    margin-bottom:5px;
}

#promoDesc{
    height:60px;
    margin-bottom:15px;
    background-color:grey;
    opacity:0.5;
}

#productCon{
    display:block;
}

/* styles two addition portfilio pieces */

/* REMOVE for photos */
.twoProducts{
    height:190px;
    background-color:black;
    margin-bottom:5px;
}
#contactCopy{
    height:190px;
    background-color:grey;
    opacity:0.5;
    margin-bottom:15px;
    margin-top:15px;
}

#contactForm
{
	width: 100%;
}

/*Styles the contact form labels*/
#contactForm label
{
	margin-top: 20px;
    margin-left: 30px;
    padding-bottom:3px;
    display: block;
    font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	color: orange;
	text-decoration: none;
	transition: all .15s linear;
}

#contactForm label:first-of-type
{
	margin-top: 0;
}

/*Styles the input fields*/
#firstName, #lastName, #email, #message
{	display: block;
	margin-top: 5px;
	margin: 0 auto;
	width: 90%;
	height: 20px;
    font-size: 16px;
}

#message
{
	height: 150px;
}

/*Styles and positions submit button*/
.submit
{
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
    margin-bottom:20px;
    font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	color:black;
	text-decoration: none;
    font-size: 25px;
}

#footer{
    margin-bottom:10px;
    margin:0 auto;
}

#footer a{
    text-decoration:none;
    color:orange;
}

/* REMOVE for social media icons as links */
#socialMedia{
    height:40px;
    background-color:#fff;
    display:flex;
    justify-content:space-around;
    margin-top: 20px;
}

.social {
    width: 40px;
    height: 40px;
    border: 3px solid #d8ae58;
    border-radius: 10px;
    background-color: #000000;
}

.social img {
    width: 70%;
    padding: 5px;
}

.face img{
    width: 80%;
    padding: 10px 8px;
}

#backToTop{
	display:flex;
    justify-content: center;
    margin: 0 auto;
    margin-top:30px;
	margin-bottom:20px;
    color: #000000;
    width: 100px;
    border-radius: 10px;
    border: 3px solid #d8ae58;
}

#footerNav{display:none;}

/* FILL with copyright text */
#copyright{
    display:flex;
    justify-content: center;
    height:50px;
}


/* FEATURE PORTFOLIO PAGE RULES */
#feature{
    display:flex;
    justify-content: center;
    height:900px;
}


/* PORTFOLIO PAGE RULES */
#portfolio{
    margin-top:75px;
}

.threePortfolio{
    background-color:blue;
    height:250px;
    margin-bottom:20px;
}